flask
flask-cors
flask-jwt-extended
langchain
langchain-google-genai
langchain-community
pymysql
sqlparse
python-dotenv
google-generativeai
bcrypt
authlib
requests
faiss-cpu
sentence-transformers
pandas
shortuuid